body {
    font-family: "Helvetica Neue";
}

.head_num{
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

#modal_lan{
    color:#000000;
}

header {
    position: absolute;
    top:0;
    width: 100%;
    min-width:980px;
    background-color: #2a5746;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    /* 左寄せ */
    float: left;    
    font-size:20px;
    padding: 15px 20px;
    cursor: pointer;
}

.copy-container h1 {
    margin-top:130px;
    font-size: 50px;
    padding-left: 40px;
}

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 400px;
}

.bar {
    font-size:20px;
    margin-left: 40px;
    border-bottom: 3px solid #dee7ec;
    margin-bottom: 50px;
}

.contents-item {
    float: left;
    margin-right: 40px;
    padding-left: 40px;
}

.contents-item p {
    margin-top:auto;
    font-size: 24px;
    text-align:center;
}

#cvimg{
    margin-bottom:12px;
}


.modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    text-align: center;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    display: none;
}

#intro h2{
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#intro li{
    margin-left: 100px;
    text-align:left;
}

#intro a{
    color:blue;
    font-size:large;
}

.modal button{
    margin-left:500px;
    font-family:emoji;
}

footer {
    /* フッターを固定 */
    position: absolute; 
    bottom: 0;

    /* フッターの他の情報を指定 */
    width: 100%;
    min-width:980px;

    background-color: #615433;
    height: 60px;
}

footer img{
    float:right;
    padding-right:30px;
    
    margin-top:10px;
    width:100px;
}

html {
    overflow-x:hidden;      /* 横スクロールバーを消す */
}